{% extends 'base.html.twig' %}

{% block title %}Sales Data {% endblock %}

{% block body %}

Viewing all the sales...
{% for singleRow in all %}

   {{singleRow.item}}         
   {{singleRow.totalcost}}
   
   <br>
{% endfor %}

	<style>
		canvas{
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	</style>
	<div style="width:75%;">
		<canvas id="lineChart"></canvas>
		<canvas id="horizontalBarChart"></canvas>
		<canvas id="doughnutChart"></canvas>
		<canvas id="sBarChart"></canvas>
	</div>
	<br>
	<br>
	
	<script>
		var cdSales = 0;
		var dvdSales = 0;
		var cdSalesArray = [];
		var dvdSalesArray = [];

		{% for row in all %}
			if ('{{ row.item }}' === 'cd'){
				cdSales += {{ row.totalCost }}
				cdSalesArray.push({{ row.totalCost }})
			} else if ('{{ row.item }}' === 'dvd'){
				dvdSales += {{ row.totalCost }}
				dvdSalesArray.push({{ row.totalCost }})
			}
		{% endfor %}

		var donutData = {
			labels: ['CD', 'DVD'],
			datasets: [{
				label: 'Sales',
				backgroundColor: [
					window.chartColors.orange,
					window.chartColors.blue
				],
				data: [
					cdSales,
					dvdSales
				]
			}],
		};

		var data = {
			labels: [
				{% for singleRow in all %}
				'{{singleRow.item}}',
				{% endfor %}
			],
			datasets: [{
				label: 'Sales',
				backgroundColor: window.chartColors.red,
				borderColor: window.chartColors.red,
				data: [
					{% for singleRow in all %}
					{{singleRow.totalcost}},
					{% endfor %}
				],
				fill: false,
			}]
		};

		var lineChartConfig = {
			data: data,
			type: 'line',
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Sale type'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'sales'
						}
					}]
				}
			}
		};

		var hBarConfig = {
			type: 'horizontalBar',
			data: data,
			options: {
				elements: {
					rectangle: {
						borderWidth: 2,
					}
				},
				responsive: true,
				legend: {
					position: 'right',
				},
				title: {
					display: true,
					text: 'Chart.js Horizontal Bar Chart'
				}
			}
		};

		var donutChartConfig = {
			type: 'doughnut',
			data: donutData,
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Chart.js Doughnut Chart'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				},
				circumference: Math.PI,
				rotation: -Math.PI
			}
		};

		var barChartData = {
			labels: [
				{% for singleRow in all %}
				'{{singleRow.item}}',
				{% endfor %}
			],
			datasets: [{
				label: 'CDs',
				backgroundColor: window.chartColors.orange,
				data: cdSalesArray
			},
				{
				label: 'Dvds',
				backgroundColor: window.chartColors.blue,
				data: dvdSalesArray
			}]
		};

		var sBarChartConfig = {
			type: 'bar',
			data: barChartData,
			options: {
				title: {
					display: true,
					text: 'Chart.js StackedBar Chart'
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('lineChart').getContext('2d');
			var ctx2 = document.getElementById('horizontalBarChart').getContext('2d');
			var ctx3 = document.getElementById('doughnutChart').getContext('2d');
			var ctx4 = document.getElementById('sBarChart').getContext('2d');
			window.lineChart = new Chart(ctx, lineChartConfig);
			window.hBarChart = new Chart(ctx2, hBarConfig);
			window.doughnutChart = new Chart(ctx3, donutChartConfig);
			window.sBarChart = new Chart(ctx4, sBarChartConfig);
		};
	</script>

{% endblock %}
